.top_form{
    -fx-background-color: #FCFCFC;
    -fx-border-color: #dcdcc4;
    -fx-border-width: 4px 4px 2px 4px;
}

.semi-top-form{
    -fx-background-color:#FCFCFC;
    -fx-border-color: #dcdcc4;
    -fx-border-width: 2px 2px 2px 4px;
}

.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #c44d09, #f3beae);
}

.cursor_hand{
    -fx-cursor:hand
}

.nav-button-form{
    -fx-background-color: transparent;
}

.nav-button-form:hover{
    -fx-background-color: linear-gradient(to bottom right, #B87543, #FCA05C);
}

.exit-button{
    -fx-background-color: transparent;
}
.exit-button:hover{
    -fx-background-color: #ec0d0d;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}
.anchorPane-border1{
    -fx-background-color: #ffff;
    -fx-background-radius: 8px;
}
.top_form{
    -fx-background-color: #D3D3D3;
}
.logout-button{
    -fx-background-color: transparent;
}
.logout-button:hover{
    -fx-background-color: #178c13;
}

.crud-button{
    -fx-background-color:  #F5F5DC;
    -fx-background-radius: 5;
}

.crud-button:hover{
    -fx-background-color: #dede9c;
}