.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}
.image_border{
    -fx-background-color: #ffff;
    -fx-background-radius: 8px;
}

.exit-button{
    -fx-background-color: transparent;
}
.exit-button:hover{
    -fx-background-color: #ec0d0d;
}
